@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}